<!--
@Author: Alex Fultz <Fultzy>
@Date:   23-Aug-2021 (10:08)
@Last modified by:   Fultzy
@Last modified time: 23-Aug-2021 (11:08)
-->
<div class="">
  <h1><%= @user.username.capitalize %></h1>
  <%= link_to "Edit Profile", edit_user_path %>
</div>
